@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1> Empresas </h1>
<br />
<td><a class="btn btn-outline-secondary" href="/Cardapio/Foda">Voltar</a></td>
<td><a class="btn btn-primary" href="/Empresa/Create">Nova</a></td>


<div id="divtabela">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">EmpresaID</th>
                <th scope="col">Nome da Empresa</th>
                <th scope="col">Telefone da Empresa</th>
                <th scope="col">Taxa de Entrega</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.listaEmpresas)
            {
                <tr>
                    <td>@item.EmpresaID</td>
                    <td>@item.NomeEmpresa</td>
                    <td>@item.Telefone</td>
                    <td>@item.taxaEmpresa</td>
                    <td><a class="btn btn-outline-warning" href="/Empresa/cu?idEmpresa=@item.EmpresaID">Taxa</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
