* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    background-color: #f1f1f1
}



.header > img {
    width: 250px;
    border-radius: 10%;
    cursor: pointer;
}



.about {
    position: absolute;
    background-color: #fff;
    margin-left: 140px;
    margin-right: 600px;
    left: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    height: 700px;
    width: 1000px;
}

    .about > h1 {
        color: #1C1C1C;
        padding: 10px;
        font-size: 1.25em;
    }

.detalhes > h1 {
    color: #1C1C1C;
    padding: 10px;
    font-size: 1.25em;
}

.negrito {
    font-weight: 700;
}

p {
    color: #404040;
    padding: 20px;
}

.Button-empresa {
    position: absolute;
    right: 200px;
    top: 40px;
    height: 60px;
    width: 200px;
    color: white;
    background-color: #1C1C1C;
    border-radius: 10px;
}


.input-with-button {
    position: relative;
}

    .input-with-button input {
        padding-right: 120px;
    }

    .input-with-button .edit-button {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 120px;
        width: 100px;
    }
