<h1>Atualizar </h1>

<form method="post" action="Atualizar">

    <div class="form-group">
        <label for="Taxa">Taxa</label>
        <input type="text" class="form-control" id="Taxa" value="@ViewBag.TaxaAtualizar.taxaEmpresa" name="Taxa" placeholder="Adicione a taxa de Entrega">
    </div>



    <a class="btn btn-secondary" href="/Empresa/Index">Voltar</a>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>