<h1>Atualizar </h1>

<form method="post" action="cu">

    <div class="form-group">
        <label for="Taxa">Taxa</label>
        <input type="text" class="form-control" id="Taxa" value="@ViewBag.TaxaAtualizar.taxaEmpresa.ToString()" name="Taxa" placeholder="Adicione a taxa de Entrega">
        <input type="text" class="form-control" id="idEmpresa" value="@ViewBag.listaIDEmpresa" name="idEmpresa" placeholder="Adicione a taxa de Entrega" hidden>
    </div>



    <a class="btn btn-secondary" href="/Empresa/Index">Voltar</a>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>