<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CardapioV2</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js//script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>




</head>
<body>


    <div class="box">

        <td valign="top">
            <table width="360" cellspacing="5" cellpadding="0">

                <tbody>
                    <tr>
                        <td valign="top" class="estilo_data"><img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/testing-logo-design-template-ce84480d61b3db9a8e1522a99875832f_screen.jpg?ts=1615794516" width="210" height="140" border="0"></td>
                    </tr>
                </tbody>
            </table>

            <table width="300" border="0" align="center" cellspacing="0">
                <tbody>
                    <tr>
                        <td align="center" class="estilo_pp" height="44"><p>Nunca Foi Tão Facil <span class="destaque1">Pedir Lanche</span>!</p></td>
                    </tr>
                </tbody>
            </table>

            <div id="container">
                <!--Comercial-->
                <div onclick="clicar()">

                    <table width="340" cellspacing="8">
                        <tbody>
                            <tr>
                                <td width="80"><img src="https://cdn-icons-png.flaticon.com/512/2771/2771406.png" width="70" height="70"></td>
                                <td width="230" valign="top">
                                    <table width="230" cellspacing="2">
                                        <tbody>
                                            <tr>
                                                <td class="estilo_titulo"><b class="teste" onclick="">Comercial</b></a></td>
                                            </tr>
                                            <tr>
                                                <td class="estilo_data" onclick="">*insira texto aqui*</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <!--Entradas-->
                <div onclick="clicar2()">

                    <table width="340" cellspacing="8">
                        <tbody>
                            <tr>
                                <td width="80"><img src="https://cdn-icons-png.flaticon.com/512/1691/1691813.png" width="70" height="70"></td>
                                <td width="230" valign="top">
                                    <table width="230" cellspacing="2">
                                        <tbody>
                                            <tr>
                                                <td class="estilo_titulo"><b class="teste" onclick="">Entradas</b></a></td>
                                            </tr>
                                            <tr>
                                                <td class="estilo_data" onclick="">*insira texto aqui*</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <!--Sobremesas-->
                <div onclick="clicar3()">

                    <table width="340" cellspacing="8">
                        <tbody>
                            <tr>
                                <td width="80"><img src="https://cdn-icons-png.flaticon.com/512/3259/3259016.png" width="70" height="70"></td>
                                <td width="230" valign="top">
                                    <table width="230" cellspacing="2">
                                        <tbody>
                                            <tr>
                                                <td class="estilo_titulo"><b class="teste" onclick="">Sobremesas</b></a></td>
                                            </tr>
                                            <tr>
                                                <td class="estilo_data" onclick="">*insira texto aqui*</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div onclick="clicar4()">

                    <table width="340" cellspacing="8">
                        <tbody>
                            <tr>
                                <td width="80"><img src="https://cdn-icons-png.flaticon.com/512/3390/3390279.png" width="70" height="70"></td>
                                <td width="230" valign="top">
                                    <table width="230" cellspacing="2">
                                        <tbody>
                                            <tr>
                                                <td class="estilo_titulo"><b class="teste" onclick="">Acompanhamento</b></a></td>
                                            </tr>
                                            <tr>
                                                <td class="estilo_data" onclick="">*insira texto aqui*</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div onclick="clicar5()">

                    <table width="340" cellspacing="8">
                        <tbody>
                            <tr>
                                <td width="80"><img src="https://cdn-icons-png.flaticon.com/512/3063/3063327.png" width="70" height="70"></td>
                                <td width="230" valign="top">
                                    <table width="230" cellspacing="2">
                                        <tbody>
                                            <tr>
                                                <td class="estilo_titulo"><b class="teste" onclick="">Petiscos</b></a></td>
                                            </tr>
                                            <tr>
                                                <td class="estilo_data" onclick="">*insira texto aqui*</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div onclick="clicar6()">

                    <table width="340" cellspacing="8">
                        <tbody>
                            <tr>
                                <td width="80"><img src="https://cdn-icons-png.flaticon.com/512/5821/5821449.png" width="70" height="70"></td>
                                <td width="230" valign="top">
                                    <table width="230" cellspacing="2">
                                        <tbody>
                                            <tr>
                                                <td class="estilo_titulo"><b class="teste" onclick="">Bebidas</b></a></td>
                                            </tr>
                                            <tr>
                                                <td class="estilo_data" onclick="">*insira texto aqui*</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div onclick="clicar7()">
                    <table width="340" cellspacing="8">
                        <tbody>
                            <tr>
                                <td width="80"><img src="https://cdn-icons-png.flaticon.com/512/920/920582.png" width="70" height="70"></td>
                                <td width="230" valign="top">
                                    <table width="230" cellspacing="2">
                                        <tbody>
                                            <tr>
                                                <td class="estilo_titulo"><b class="teste" onclick="">Bebidas Alcholicas</b></td>
                                            </tr>
                                            <tr>
                                                <td class="estilo_data" onclick="">*insira texto aqui*</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>




            </div>

            <!--Bebidas Alcholicas - completa-->
            <div id="div-mostrar7">

                <table width="300" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tbody>
                        <tr>
                            <td class="estilo_titulo"><b><i>Bebidas Alcholicas</i></b></td>
                        </tr>
                    </tbody>
                </table>
                <br>

                <table width="300" border="0" align="center">
                    <tbody>
                        <tr>
                            <td id="heineken" class="estilo_titulo_preco" valign="top" style="white-space: nowrap;"><b>Heineken Aleman</b> R$<b>150,00</b></td>
                        </tr>
                    </tbody>
                </table>

        <td>

            <button class="btn-confirmar" onclick="enviarMensagem('heineken')">Confirmar Pedido ??</button>

            <form style="margin-left: 220px; margin-top: -30px;">
                <select id="quantidade" size="1">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                </select>
            </form>
        </td>

        <br>

        <td> <img src="https://dipietro.cardapio.top/imagens/traco.png" width="400" height="8" border="0"></td>

        <table width="300" border="0" align="center">
            <tbody>
                <tr>
                    <td id="voodka" class="estilo_titulo_preco" valign="top" style="white-space: nowrap;"><b>Voodka de caravalho</b> R$<b>150,00</b></td>
                </tr>
            </tbody>
        </table>

        <td>
            <button class="btn-confirmar" onclick="enviarMensagem('voodka')">Confirmar Pedido ??</button>
            
            <form style="margin-left: 220px; margin-top: -30px;">
                <select id="quantidade2" size="1">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                </select>

            </form>
        </td>

        <br>


        <td> <img src="https://dipietro.cardapio.top/imagens/traco.png" width="400" height="8" border="0"></td>

            
        <table width="300" border="0" align="center">
            <tbody>
                @foreach (var item in ViewBag.listaBebidasAL)
                {
                    <tr>
                            <td id="DANONEFODA" class="estilo_titulo_preco" valign="top" style="white-space: nowrap;"><b>@item.NomePruduto</b> R$<b>@item.PrecoProduto.ToString("F")</b></td>
                    </tr>
                }
            </tbody>
        </table> 
       

        <td>
            <button class="btn-confirmar" onclick="enviarMensagem('DANONEFODA')">Confirmar Pedido ??</button>

            <form style="margin-left: 220px; margin-top: -30px;">
                <select id="quantidade3" size="1">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                </select>

            </form>
        </td>

        <br>

        <td> <img src="https://dipietro.cardapio.top/imagens/traco.png" width="400" height="8" border="0"></td>

        <table width="300" border="0" align="center">
            <tbody>
                <tr>
                    <td id="whisky" class="estilo_titulo_preco" valign="top" style="white-space: nowrap;"><b>Whisky 200 Anos</b> R$<b>1500,00</b></td>
                </tr>
            </tbody>
        </table>

        <td>
            <button class="btn-confirmar" onclick="enviarMensagem('whisky')">Confirmar Pedido ??</button>


            <form style="margin-left: 220px; margin-top: -30px;">
                <select id="quantidade4" size="1">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                </select>

            </form>
        </td>

        <br>

        <img id="seta" src="https://cdn-icons-png.flaticon.com/512/60/60577.png" width="70" height="30" border="0" id="voltar" onclick="voltar8()">


    </div>

    <!--Bebidas - completa-->

    <div id="div-mostrar6">

        <table width="300" border="0" cellspacing="0" cellpadding="0" align="center">
            <tbody>
                <tr>
                    <td class="estilo_titulo"><b><i>Bebidas</i></b></td>
                </tr>
            </tbody>
        </table>
        <br>

        <table width="300" border="0" align="center">
            <tbody>
                <tr>
                    <td class="estilo_titulo_preco" valign="top" style="white-space: nowrap;"><b>Coca-Cola Francesa</b> R$<b>150,00</b></td>
                </tr>
            </tbody>
        </table>

        <td>
            <button class="btn-confirmar">Confirmar Pedido 👌</button>

            <form style="margin-left: 220px; margin-top: -30px;">
                <select size="1">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                </select>

            </form>
        </td>

        <br>

        <td> <img src="https://dipietro.cardapio.top/imagens/traco.png" width="400" height="8" border="0"></td>
        </tr>
        </tbody></table>

        <table width="300" border="0" align="center">
            <tbody>
                <tr>
                    <td class="estilo_titulo_preco" valign="top" style="white-space: nowrap;"><b>Guarana Italiano</b> R$<b>260,00</b></td>
                </tr>
            </tbody>
        </table>

        <td>
            <button class="btn-confirmar">Confirmar Pedido 👌</button>

            <form style="margin-left: 220px; margin-top: -30px;">
                <select size="1">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                </select>

            </form>
        </td>

        <br>

        <td> <img src="https://dipietro.cardapio.top/imagens/traco.png" width="400" height="8" border="0"></td>

        <table width="300" border="0" align="center">
            <tbody>
                <tr>
                    <td class="estilo_titulo_preco" valign="top" style="white-space: nowrap;"><b>Fanta Uva Inglesa</b> R$<b>280,00</b></td>
                </tr>
            </tbody>
        </table>

        <td>
            <button class="btn-confirmar">Confirmar Pedido 👌</button>

            <form style="margin-left: 220px; margin-top: -30px;">
                <select size="1">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                </select>

            </form>
        </td>

        <br>

        <img id="seta" src="https://cdn-icons-png.flaticon.com/512/60/60577.png" width="70" height="30" border="0" id="voltar" onclick="voltar7()">


    </div>




    <!--Petiscos - completa-->
    <div id="div-mostrar5">

        <table width="300" border="0" cellspacing="0" cellpadding="0" align="center">
            <tbody>
                <tr>
                    <td class="estilo_titulo"><b><i>Petiscos</i></b></td>
                </tr>
            </tbody>
        </table>
        <br>
        
                @foreach (var item in ViewBag.listaCardapio)
                {
                    <table width="300" border="0" align="center">
                        <tbody>
                            <tr>
                        <td class="estilo_titulo_preco" valign="top" style="white-space: nowrap;"><b>@item.NomePruduto</b> R$<b>@item.PrecoProduto.ToString("F")</b></td>
                            </tr>
                        </tbody>
                    </table>
                }
        


        <table width="300" border="0" align="center">
            <tr>
                <td class="estilo">batatas, sal a gosto.</td>
            </tr>
        </table>

        <td>
            <button class="btn-confirmar">Confirmar Pedido 👌</button>

            <form style="margin-left: 220px; margin-top: -30px;">
                <select size="1">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                </select>

            </form>
        </td>
        <br>
        <td> <img src="https://dipietro.cardapio.top/imagens/traco.png" width="400" height="8" border="0"></td>
        </tr>
        </tbody></table>

        <table width="300" border="0" align="center">
            <tbody>
                <tr>
                    <td class="estilo_titulo_preco" valign="top" style="white-space: nowrap;"><b>bolinha de Queijo</b> R$<b>120,00</b></td>
                </tr>
            </tbody>
        </table>

        <table width="300" border="0" align="center">
            <tbody>
                <tr>
                    <td class="estilo">margarina, queijo branco , sal a gosto, gema de ovo, leite.</td>
                </tr>
            </tbody>
        </table>

        <td>
            <button class="btn-confirmar">Confirmar Pedido 👌</button>

            <form style="margin-left: 220px; margin-top: -30px;">
                <select size="1">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                </select>

            </form>
        </td>
        <br>
        <td> <img src="https://dipietro.cardapio.top/imagens/traco.png" width="400" height="8" border="0"></td>
        </tr>
        </tbody></table>


        <table width="300" border="0" align="center">
            <tbody>
                <tr>
                    <td class="estilo_titulo_preco" valign="top" style="white-space: nowrap;"><b>Salpicão De Creme</b> R$<b>40,00</b></td>
                </tr>
            </tbody>
        </table>


        <table width="300" border="0" align="center">
            <tr>
                <td class="estilo">Nutella, salsão em tiras, Creme de Leite, Granulado</td>
            </tr>
        </table>

        <td>
            <button class="btn-confirmar">Confirmar Pedido 👌</button>

            <form style="margin-left: 220px; margin-top: -30px;">
                <select size="1">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                </select>

            </form>
        </td>



        <img id="seta" src="https://cdn-icons-png.flaticon.com/512/60/60577.png" width="70" height="30" border="0" id="voltar" onclick="voltar6()">

    </div>




    <!--Acompanhamento - completa-->
    <div id="div-mostrar4">


        <table width="300" border="0" cellspacing="0" cellpadding="0" align="center">
            <tbody>
                <tr>
                    <td class="estilo_titulo"><b><i>Acompanhamento</i></b></td>
                </tr>
            </tbody>
        </table>
        <br>

        <table width="300" border="0" align="center">
            <tbody>
                <tr>
                    <td class="estilo_titulo_preco" valign="top" style="white-space: nowrap;"><b>Purê de batata com alho</b> R$<b>30,00</b></td>
                </tr>
            </tbody>
        </table>


        <table width="300" border="0" align="center">
            <tr>
                <td class="estilo">batatas, dentes de alho, Manteiga, Leite Líquido, Maggi Fondor.</td>
            </tr>
        </table>

        <td>
            <button class="btn-confirmar">Confirmar Pedido 👌</button>

            <form style="margin-left: 220px; margin-top: -30px;">
                <select size="1">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                </select>

            </form>
        </td>

        <br>

        <td> <img src="https://dipietro.cardapio.top/imagens/traco.png" width="400" height="8" border="0"></td>


        <table width="300" border="0" align="center">
            <tbody>
                <tr>
                    <td class="estilo_titulo_preco" valign="top" style="white-space: nowrap;"><b>Farofa de Linguiça</b> R$<b>120,00</b></td>
                </tr>
            </tbody>
        </table>

        <table width="300" border="0" align="center">
            <tr>
                <td class="estilo">manteiga, cebola , linguiça fresca, farinha de mandioca crua, Maggi Gril, Ovo cozido.</td>
            </tr>
        </table>

        <td>
            <button class="btn-confirmar">Confirmar Pedido 👌</button>

            <form style="margin-left: 220px; margin-top: -30px;">
                <select size="1">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                </select>

            </form>
        </td>
        <br>

        <td> <img src="https://dipietro.cardapio.top/imagens/traco.png" width="400" height="8" border="0"></td>

        <table width="300" border="0" align="center">
            <tbody>
                <tr>
                    <td class="estilo_titulo_preco" valign="top" style="white-space: nowrap;"><b>Salpicão Surpresa</b> R$<b>35,00</b></td>
                </tr>
            </tbody>
        </table>

        <table width="300" border="0" align="center">
            <tr>
                <td class="estilo">Maggi Caldo Galinha, salsão em tiras, Creme de Leite, mostarda</td>
            </tr>
        </table>

        <td>
            <button class="btn-confirmar">Confirmar Pedido 👌</button>

            <form style="margin-left: 220px; margin-top: -30px;">
                <select size="1">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                </select>

            </form>
        </td>


        <img id="seta" src="https://cdn-icons-png.flaticon.com/512/60/60577.png" width="70" height="30" border="0" id="voltar" onclick="voltar5()">

    </div>


    <!--Sobremesas - completa-->
    <div id="div-mostrar3">


        <table width="300" border="0" cellspacing="0" cellpadding="0" align="center">
            <tbody>
                <tr>
                    <td class="estilo_titulo"><b><i>Sobremesas</i></b></td>
                </tr>
            </tbody>
        </table>
        <br>

        <table width="300" border="0" align="center">
            <tbody>
                <tr>
                    <td class="estilo_titulo_preco" valign="top" style="white-space: nowrap;"><b>Frozen Yogurt</b> R$<b>30,00</b></td>
                </tr>
            </tbody>
        </table>


        <table width="300" border="0" align="center">
            <tr>
                <td class="estilo">iogurte natural, creme de leite, açúcar, raspas de limão, geleia.</td>
            </tr>
        </table>

        <td>
            <button class="btn-confirmar">Confirmar Pedido 👌</button>

            <form style="margin-left: 220px; margin-top: -30px;">
                <select size="1">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                </select>

            </form>
        </td>

        </tr>
        <table>
            <tbody>
                <tr>

                    <br>
                    <td> <img src="https://dipietro.cardapio.top/imagens/traco.png" width="400" height="8" border="0"></td>
                </tr>
            </tbody>
        </table>



        <table width="300" border="0" align="center">
            <tbody>
                <tr>
                    <td class="estilo_titulo_preco" valign="top" style="white-space: nowrap;"><b>Tiramisù</b> R$<b>120,00</b></td>
                </tr>
            </tbody>
        </table>


        <table width="300" border="0" align="center">
            <tr>
                <td class="estilo">biscoito tipo champagne, café, dose pequena de licor, chocolate em pó, leite condensado.</td>
            </tr>
        </table>

        <td>
            <button class="btn-confirmar">Confirmar Pedido 👌</button>

            <form style="margin-left: 220px; margin-top: -30px;">
                <select size="1">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                </select>

            </form>
        </td>

        <br>

        <table>
            <tbody>
                <tr>
                    <td> <width ="220" height="8" border="0"></td>
                </tr>
            </tbody>
        </table>
        <td> <img src="https://dipietro.cardapio.top/imagens/traco.png" width="400" height="8" border="0"></td>



        <table width="300" border="0" align="center">
            <tbody>
                <tr>
                    <td class="estilo_titulo_preco" valign="top" style="white-space: nowrap;"><b>Pavé de Chocolate</b> R$<b>35,00</b></td>
                </tr>
            </tbody>
        </table>



        <table width="300" border="0" align="center">
            <tr>
                <td class="estilo">biscoito maisena, chocolate em pó, leite condensado, lata de creme de leite sem soro</td>
            </tr>
        </table>

        <td>
            <button class="btn-confirmar">Confirmar Pedido 👌</button>

            <form style="margin-left: 220px; margin-top: -30px;">
                <select size="1">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                </select>

            </form>
        </td>

        <img id="seta" src="https://cdn-icons-png.flaticon.com/512/60/60577.png" width="70" height="30" border="0" id="voltar" onclick="voltar4()">

    </div>

    <!--Entradas - completa-->
    <div id="div-mostrar2">

        <table width="300" border="0" cellspacing="0" cellpadding="0" align="center">
            <tbody>
                <tr>
                    <td class="estilo_titulo"><b><i>Entradas</i></b></td>
                </tr>
            </tbody>
        </table>
        <br>


        <table width="300" border="0" align="center">
            <tbody>
                <tr>
                    <td class="estilo_titulo_preco" valign="top" style="white-space: nowrap;"><b>Batata frita com queijo e bacon</b> R$<b>75,00</b></td>
                    <td align="center">
                    </td>
                </tr>
            </tbody>
        </table>


        </tr>
        </tbody></table>

        <table width="300" border="0" align="center">
            <tbody>
                <tr>
                    <td class="estilo">Batata frita, Bacon picado, Queijo mussarela.</td>
                </tr>
                <table>
                    <tbody>
                        <tr>




                            <td>
                                <button class="btn-confirmar">Confirmar Pedido 👌</button>

                                <form style="margin-left: 220px; margin-top: -30px;">
                                    <select size="1">
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                    </select>

                                </form>
                            </td>




                        </tr>
                    </tbody>
                </table>


                <br>
                <table>
                    <tbody>
                        <tr>
                            <td> <width ="220" height="8" border="0"></td>
                        </tr>
                    </tbody>
                </table>
            <td> <img src="https://dipietro.cardapio.top/imagens/traco.png" width="400" height="8" border="0"></td>

            <table width="300" border="0" align="center">
                <tbody>
                    <tr>
                        <td class="estilo_titulo_preco" valign="top" style="white-space: nowrap;"><b>ISCA DE FRANGO DE BOTECO</b> R$<b>35,00</b></td>


                    </tr>
                </tbody>
            </table>




            <table width="300" border="0" align="center">
                <tbody>
                    <tr>
                        <td class="estilo">Peito de frango, limões, dentes de alho.</td>
                    </tr>
                    <table>
                        <tbody>
                            <tr>
                            </tr>
                        </tbody>
                    </table>

                <td>
                    <button class="btn-confirmar">Confirmar Pedido 👌</button>

                    <form style="margin-left: 220px; margin-top: -30px;">
                        <select size="1">
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                        </select>

                    </form>
                </td>
                <br>
                <td> <img src="https://dipietro.cardapio.top/imagens/traco.png" width="400" height="8" border="0"></td>


                <table width="300" border="0" align="center">
                    <tbody>
                        <tr>
                            <td class="estilo_titulo_preco" valign="top" style="white-space: nowrap;"><b>Carne do sol Acebolada</b> R$<b>35,00</b></td>
                        </tr>
                    </tbody>
                </table>




                <table width="300" border="0" align="center">
                    <tbody>
                        <tr>
                            <td class="estilo">Carne do sol, cebola, sal.</td>
                        </tr>
                        <table>
                            <tbody>
                                <tr>
                                </tr>
                            </tbody>
                        </table>

                    <td>
                        <button class="btn-confirmar">Confirmar Pedido 👌</button>

                        <form style="margin-left: 220px; margin-top: -30px;">
                            <select size="1">
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                            </select>

                        </form>
                    </td>
                    <br>
                    <td> <img src="https://dipietro.cardapio.top/imagens/traco.png" width="400" height="8" border="0"></td>



                    <img id="seta" src="https://cdn-icons-png.flaticon.com/512/60/60577.png" width="70" height="30" border="0" id="voltar" onclick="voltar3()">
    </div>


    </div>





</body>
</html>

